.button{
    height: 45px;
    padding: 13px 35px;
    background-color: #bfd2f8;
    border-radius: 50px;
    color: #1f2b6c;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid transparent;
}